ol
{
color:darkcyan;
font-size:20;
font-family:cambria;
}
ul
{
color:indigo;
font-size:18;
font-family:cambria;
}
body
{
background:beige;
}
p
{
font-size:18;
font-family:cambria;
color:darkolivegreen;
}
h2
{
color:lightcoral;
font-family:cambria;
font-style:italic;
}
h3
{
color:lightcoral;
font-family:cambria;
font-style:italic;
}